<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/
dtd/mybatis-3-mapper.dtd">

<select id="selectAllReviews" resultType="com.example.demo.entity.Reviews">
  select * from reviews where store_id = #{storeId} order by id desc
</select>
<select id="selectOneReview" resultType="com.example.demo.entity.Reviews">
  select * from reviews where store_id = #{storeId} order by id desc limit 1
</select>