<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">

 <!-- 会員一覧表示 -->
    <select id="selectAll"
            resultType="com.example.demo.entity.Member">
        SELECT
            id,
            name,
            birth_date AS birthDate,
            mail
        FROM members
        WHERE is_deleted = false
        ORDER BY id
    </select>

    <!-- 新規会員登録 -->
    <insert id="insert">
        INSERT INTO members
            (name, birth_date, mail, password)
        VALUES
            (#{name}, #{birthDate}, #{mail}, #{password})
    </insert>

    <!-- 会員情報の更新 -->
 <insert id="insert">
        INSERT INTO members
            (name, birth_date, mail, password)
        VALUES
            (#{name}, #{birthDate}, #{mail}, #{password})
    </insert>
    
     <!-- 会員情報の更新 -->
    <update id="update">
        UPDATE members
        SET
            name = #{name},
            birth_date = #{birthDate},
            mail = #{mail}
        WHERE id = #{id}
    </update>

    <!-- 会員削除（論理削除） -->
    <update id="delete">
        UPDATE members
        SET is_deleted = true
        WHERE id = #{id}
    </update>

</mapper>


