<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ReservationMapper">

    <!-- 予約登録 -->
    <insert id="insertReservation"
            parameterType="com.example.demo.entity.Reservations"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO reservations
        (
            member_id,
            reservation_date,
            status,
            created_at,
            store_id
        )
        VALUES
        (
            #{member_id},
            #{reservation_date},
            #{status},
            #{created_at},
            #{store_id}
        )

    </insert>


    <!-- 予約番号から取得 -->
    <select id="findById"
            resultType="com.example.demo.entity.Reservations">

        SELECT
            id,
            member_id,
            reservation_date,
            status,
            created_at,
            store_id
        FROM reservations
        WHERE id = #{reservationId}

    </select>


    <!-- 予約履歴 -->
    <select id="findByMemberId"
            resultType="com.example.demo.entity.Reservations">

        SELECT
            id,
            member_id,
            reservation_date,
            status,
            created_at,
            store_id
        FROM reservations
        WHERE member_id = #{memberId}
        ORDER BY reservation_date DESC

    </select>

</mapper>
