<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/
dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MembersMapper">

 //店舗一覧表示
<select id="selectId" resultType="com.example.demo.entity.Stores">
    select id from members
</select>

</mapper>